<LinkTo
	@route="foo.index"
	@model={{some.link}}
	class="some-link__link"
	data-control-name="some-link-control-name"
	data-some-link="true"
>
</LinkTo>

<LinkTo
	@route="foo.index"
	@model={{some.link}}
	class="some-link__link"
	data-control-name="some-link-control-name"
	data-control-id="some-link-control-name-id"
	data-some-link="true"
>
</LinkTo>

<AppAwareLink$AppAwareLink
	@href={{this.contentTrackedUrl}}
	target="_blank"
	data-control-name={{@controlName}}
	data-control-id="foo-id"
>
</AppAwareLink$AppAwareLink>

<AppAwareLink$AppAwareLink
	@href={{this.contentTrackedUrl}}
	target="_blank"
	data-control-name={{@controlName}}
	data-control-id={{@controlId}}
>
</AppAwareLink$AppAwareLink>

<div
	data-control-id={{@controlId}}
	data-control-name={{@controlName}}
	data-foo
	{{on "click" (fn this.onFoo this.bar)}}
>
</div>