<LinkTo
	@route="foo.index"
	@model={{some.link}}
	class="some-link__link" data-some-link="true" {{ember-cli-pemberly-tracking$track-interaction "some-link-control-name"}}
>
</LinkTo>

<LinkTo
	@route="foo.index"
	@model={{some.link}}
	class="some-link__link" data-some-link="true" {{ember-cli-pemberly-tracking$track-interaction "some-link-control-name" controlTrackingId="some-link-control-name-id"}}
>
</LinkTo>

<AppAwareLink$AppAwareLink
	@href={{this.contentTrackedUrl}}
	target="_blank" {{ember-cli-pemberly-tracking$track-interaction @controlName controlTrackingId="foo-id"}}
>
</AppAwareLink$AppAwareLink>

<AppAwareLink$AppAwareLink
	@href={{this.contentTrackedUrl}}
	target="_blank" {{ember-cli-pemberly-tracking$track-interaction @controlName controlTrackingId=@controlId}}
>
</AppAwareLink$AppAwareLink>

<div
	class="feed-shared-actor__image relative" data-test-feed-shared-actor-image
	{{on "click" (fn this.onFoo this.bar)}} {{ember-cli-pemberly-tracking$track-interaction @controlName controlTrackingId=@controlId}}
>
</div>